@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Indie+Flower&display=swap');

h1 {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: #9fd3c7;
}

html {
  height: 100%
}

body {
  height: 100%;
}

#root {
  height: 100%
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  height: 100%;
  /* background-color: orange; */
}

.menu-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  /* background-color:blue; */
}

h3 {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
}

.circle-class {
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius:50%;
}

.outer-button {
  height: 240px;
  width: 240px;
}

.button-container {
  height: 200px;
  width: 200px;
  /* background-color:rgba(207, 60, 60); */
  border: 5px dotted rgba(0,0,0,0.2);
  /* outline: 5px solid rgba(207, 60, 60); */
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

.button-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:90%;
  width:90%;
  background-color:rgba(0, 0, 0, 0.2);
  /* outline: 30px solid rgba(50, 60, 60); */
  border: 10px solid rgba(0, 0, 0, 0.1);
}

h3:link {
  text-decoration: none;
}

body {
  background-color: #ececec;
}

.game-grid {
  display: inline-grid;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: repeat(6, 70px);
  column-gap: 10px;
  row-gap: 10px;
  outline: 0.1px solid black;
  background-color: blue;
  padding: 10px;
}

.grid-item {
  outline: 0.1px solid black;
}

.circle {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
} 

.no-hover {
  background-color: lightblue;
}

.hover {
  background-color: yellow;
}

.one {
  background-color:rgba(207, 60, 60);
}

.two {
  background-color: #f7bb05;
}

/* .first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
} */