@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Indie+Flower&display=swap');

h1 {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: #9fd3c7;
}

body {
  background-color: #ececec;
}

/* .first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
} */