@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Indie+Flower&display=swap');

h1 {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: #142d4c;
}

h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #385170;
}

h3 {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  color:white;
}

h3:link {
  text-decoration: none;
}

html {
  height: 100%
}

body {
  height: 100%;
  background-color: #ececec;
}

#root {
  height: 100%;
}

.page-center-container {
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:20px;
}

.header-container {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: black;
  align-items: center;
  justify-content: start;
  padding: 10px;
  margin:0;
  /* position:absolute; */
  /* top:0px; */
}

.header-text {
  color: white
}


.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 100%;
  /* background-color: orange; */
}

.menu-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  /* background-color:blue; */
}

.fake-board {
  background-color: blue;
  height: 10%;
  width:90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
}

.circle-class {
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius:50%;
}

.home-button {
  height:11em;
  width:11em;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  animation-duration: .25s;
  animation-name: home-button-unhover;
  position:absolute;
  top:20px;
  left:20px;
}

.home-button:hover {
  height:12em;
  width:12em;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  animation-duration: .25s;
  animation-name: home-button-hover;
}

.outer-button {
  height:15em;
  width:15em;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  animation-duration: .25s;
  animation-name: button-unhover;
}

.outer-button-hover:hover {
  height: 17em;
  width: 17em;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  animation-duration: .25s;
  animation-name: button-hover;
}

.dropped {
  /* position: fixed; */
  margin-top: 0px;
  animation-name: button-drop;
  animation-duration: .65s;
}

@media screen and (max-width: 400px) {
  .dropped {
    animation-duration: 2s;
  }
}

@keyframes button-drop {
  from {
    margin-top: 0px;
    transform:rotate(0deg);
  }

  to {
    margin-top: 300%;
    transform:rotate(360deg);
  }
}

@keyframes button-hover {
  from {
    height: 15em;
    width: 15em;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  }

  to {
    height: 17em;
    width: 17em;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  }
}

@keyframes home-button-hover {
  from {
    height: 11em;
    width: 11em;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  }

  to {
    height: 12em;
    width: 12em;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  }
}

@keyframes button-unhover {
  from {
    height: 17em;
    width: 17em;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  }

  to {
    height: 15em;
    width: 15em;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  }
}

@keyframes home-button-unhover {
  from {
    height: 12em;
    width: 12em;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  }

  to {
    height: 11em;
    width: 11em;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  }
}

.button-container {
  height: 83%;
  width: 83%;
  /* background-color:rgba(207, 60, 60); */
  border: 5px dotted rgba(0,0,0,0.2);
  /* outline: 5px solid rgba(207, 60, 60); */
  padding: 10px;
}

.button-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:90%;
  width:90%;
  background-color:rgba(0, 0, 0, 0.2);
  /* outline: 30px solid rgba(50, 60, 60); */
  border: 10px solid rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.game-grid {
  display: inline-grid;
  justify-items: center;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  column-gap: 10px;
  row-gap: 10px;
  outline: 0.1px solid black;
  background-color: blue;
  padding: 10px;
}

.grid-item {
  outline: 0.1px solid black;
}

.circle {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
} 

.no-hover {
  background-color: lightblue;
}

.hover {
  background-color: yellow;
}

.one {
  background-color:rgba(207, 60, 60);
}

.two {
  background-color: #f7bb05;
}

/* .first-color { 
  background: #ececec; 
}
  
.second-color { 
  background: #9fd3c7; 
}

.third-color { 
  background: #385170; 
}

.fourth-color { 
  background: #142d4c; 
} */